.form-view {
  border: 1px solid lightgrey;
  padding: 15px;
}
.form-view > label {
  padding: 0 10px 10px;
  margin: 0 15px 0 10px;
}

#add-form {
  text-align: center;
}

input[type="text"] {
  padding: 2px 8px;
  margin: 0 10px;
}

select {
  margin: 0 10px;
}