.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px lightgrey solid;
  border-radius: 10px;
  text-align: left;
  margin: 7px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  background-color: lightgreen;
  margin-bottom: 10px;
  border-radius: 10px;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
  text-align: center;
  cursor: pointer;
  user-select: none;  
  border-radius: 5px;
  padding: 0 5px;
}

.answer-label {
  font-size: .8em;
  font-weight: normal;
}
span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  color: blue;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;  
}

span.page-num.active {
  color: black;
}

.category-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
}

.category-name {
  font-size: .9em;
  cursor: pointer;  
  margin-left: 10px;
  user-select: none;
}
.category-name:hover {
  color: dodgerblue; 
}
.categories-title {
  cursor: pointer;
}
.categories-title:hover {
  color: dodgerblue; 
}
img.category {
  /* margin: 0 8px 15px 0; */
  cursor: pointer;  
  width: 20px;
  align-items: center;
}

img.delete {
  width: 20px;
}